#home-button {
    margin-top: 10px;
}
#home-logo {
    width: 20%;
    height: auto;
    min-width: 110px;
}
/* Stretch body to full viewport */
.full-vertical {
    height: 100vh;
}
/* Stylizes rate-base.html */
form {
    width: 100%;
}
#form-flex-div {
    margin-top: 100px;
    margin-bottom: 150px;
    max-width: 700px;
}
.location-form {
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
}
.rate-form {
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    overflow: hidden;
}
.form-padding {
    margin: 0px 25px 25px 25px;
}
/* Stylize form legends */
.big-legend {
    display: inline-block;
    text-align: center;
    background-color: var(--mdb-secondary);
    color: white;
}
/* Fix input scaling */
input {
    width: 0;
}
/* Color the checkboxes */
.form-check-input[type=checkbox]:checked,
.form-check-input[type=checkbox]:checked:active,
.form-check-input[type=checkbox]:checked:focus {
    background-color: var(--mdb-secondary);
    border-color: var(--mdb-secondary);
}
.btn-form {
    margin-top: 10px;
}
/* Size and color the radio buttons */
.btn-rate {
    width: 70px;
    height: 70px;
    text-align: center;
    padding: 8px 0;
    font-size: 36px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}
.btn-check:active+.btn-outline-secondary,
.btn-check:checked+.btn-outline-secondary,
.btn-outline-secondary.active,
.btn-outline-secondary:active {
    color: #fff;
}
/* Error handler countdown */
#countdown {
    color: var(--mdb-secondary);
    font-size: 4em;
}