/* Stylizes rate-base.html */
.rate-form {
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 150px;
    padding: 25px;
}
/* Stylize form legends */
.big-legend {
    display: inline-block;
    margin-top: 20px;
    border-bottom-style: solid;
    border-color: var(--mdb-secondary);
}
/* Fix input scaling */
input {
    width: 0;
}
/* Color the checkboxes */
.form-check-input[type=checkbox]:checked,
.form-check-input[type=checkbox]:checked:active,
.form-check-input[type=checkbox]:checked:focus {
    background-color: var(--mdb-secondary);
    border-color: var(--mdb-secondary);
}
.btn-form {
    margin-top: 10px;
}
/* Size the radio buttons */
.btn-rate {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 6px 0;
    font-size: 24px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}