<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-secondary">
      <div class="mx-auto d-flex flex-column justify-content-center">
        <div class="container-fluid">
          <ul class="navbar nav">
            <li class="nav-item">
              <a class="btn {% if active_page == 'Rate' %} btn-light {% else %} btn-outline-light {% endif %} btn-rounded mx-2" href="{{ url_for('rate') }}">Rate</a>
            </li>
            <li class="nav-item">
              <a class="btn {% if active_page == 'Stats' %} btn-light {% else %} btn-outline-light {% endif %} btn-rounded mx-2" href="{{ url_for('stats') }}">Stats</a>
            </li>
            <li class="nav-item">
              <a class="btn {% if active_page == 'About' %} btn-light {% else %} btn-outline-light {% endif %} btn-rounded mx-2" href="{{ url_for('about') }}">About</a>
            </li>
          </ul>
        </div>
        <p style="font-size: small;" class="mx-auto text-white">&copy; 2021 Project Valjean</p>
      </div>
    </nav>
</footer>