{% extends "base.html" %}
{% set active_page = "Rate" %}
{% block content %}
<div class="d-flex flex-column full-vertical justify-content-center align-items-center pb-20">
    <h3>Choose your dining hall</h3>
    <div class="col-md-5 text-justify mx-5">
        <a id="home-button" class="btn btn-block btn-lg btn-secondary btn-rounded" href="{{ url_for('selector_dh', dh='North') }}">North</a>
        <a id="home-button" class="btn btn-block btn-lg btn-secondary btn-rounded" href="{{ url_for('selector_dh', dh='South') }}">South</a>
    </div>
</div>
{% endblock %}