{% extends "rate-base.html" %}
{% set active_page = "Rate" %}
{% block content %}
<script>
    $(document).ready(function() {
        $(".btn-check").click(function(e) {
            // Change thumbs up/down color on active radion btn.
            var value = this.value;
            var name = this.name;
            console.log("Clicked " + this.id); // debug
            if(value === "0") {
                // Thumbs down
                $("#label-" + name + "-down").attr("style", "color: white");
                $("#label-" + name + "-up").removeAttr("style", "color:white");
            } else {
                // Thumbs up
                $("#label-" + name + "-up").attr("style", "color: white");
                $("#label-" + name + "-down").removeAttr("style", "color:white");
            }
        });
    });
</script>
<form action="{{ url_for('submit_ratings', dh=dh, meal=meal) }}" class="text-center" method="POST">
    {% for cat in food.keys() %}
    <div class="flex-row rate-form shadow">
        <legend class="big-legend" for="{{ cat }}Cat">{{ cat }}</legend>
        {% for food_item in food[cat] %}
        <div class="flex-row form-padding">
            <legend for="{{ food_item }}Item">{{ food_item }}</legend>
        </div>
        <div class="flex-row form-padding">
            <!-- name = dict key, value = dict value -->
            <!-- Thumbs down -->
            <input class="btn-check" type="radio" value="0" id="{{ cat }}-{{ food_item }}-down" name="{{cat}}-{{ food_item }}" autocomplete="off">
            <label id="label-{{ cat }}-{{ food_item }}-down" class="btn btn-rate btn-outline-secondary" for="{{ cat }}-{{ food_item }}-down">
                <i class="bi bi-hand-thumbs-down"></i>
            </label>
            <!-- Thumbs up -->
            <input class="btn-check" type="radio" value="1" id="{{ cat }}-{{ food_item }}-up" name="{{cat}}-{{ food_item }}" autocomplete="off">
            <label id="label-{{ cat }}-{{ food_item }}-up" class="btn btn-rate btn-outline-secondary" for="{{ cat }}-{{ food_item }}-up">
                <i class="bi bi-hand-thumbs-up"></i>
            </label>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-form btn-block btn-secondary btn-rounded btn-lg">Rate</button>
</form>
{% endblock %}