{% extends "rate-base.html" %}
{% set active_page = "Rate" %}
{% block content %}
<form action="{{ url_for('submit_ratings', dh=dh, meal=meal) }}" class="text-center" method="POST">
    {% for cat in food.keys() %}
    <legend for="{{ cat }}Cat">{{ cat }}</legend>
    {% for food_item in food[cat] %}
    <div class="row">
        <legend for="{{ food_item }}Item">{{ food_item }}</legend>
    </div>
    <div class="row">
        {% for i in range(1,6) %}
        <label class="btn btn-rate btn-secondary" for="{{ cat }}-{{ food_item }}">   
            <input class="btn-check" type="radio" value="{{ i }}" id="{{ cat }}-{{ food_item }}" name="{{ food_item }}" autocomplete="off"/>
            {{ i }}
        </label>
        {% endfor %}
    </div>
    {% endfor %}
    {% endfor %}
    <button type="submit" class="btn btn-form btn-block btn-secondary btn-rounded">Rate</button>
</form>
{% endblock %}