{% extends "rate-base.html" %}
{% set active_page = "Rate" %}
{% block content %}
<form action="{{ url_for('record_food_items', dh=dh, meal=meal) }}" style="width: 100%;" method="POST">
    {% for cat in food_items.keys() %}
        <div class="flex-row rate-form shadow">
            <legend class="big-legend" for="{{ cat }}Cat">{{ cat }}</legend>
            <div class="form-padding">
                {% for food_item in food_items[cat] %}
                <div class="form-check-inline">
                    <!-- name = dict key, value = dict value -->
                    <input class="btn-check" type="checkbox" value="{{ food_item }}" id="{{ cat }}-{{ food_item }}" name="{{ cat }}">
                    <label id="label-{{ cat }}-{{ food_item }}" class="btn btn-lg btn-rounded btn-outline-secondary" style="margin-bottom: 10px;" for="{{ cat }}-{{ food_item }}">{{ food_item }}</label>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col">
            <a type="back" class="btn btn-form btn-block btn-outline-secondary btn-rounded btn-lg" href="{{ url_for('meal', dh=dh, meal=meal) }}">&larr; Back</a>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-form btn-block btn-secondary btn-rounded btn-lg">Next &rarr;</button>
        </div>
    </div>
</form>
{% endblock %}