{% extends "rate-base.html" %}
{% set active_page = "Rate" %}
{% block content %}
<script>
    $(document).ready(function() {
        // Toggle food buttons
        $("input[class='btn-check']").on("click", function (e) {
            $(this).toggleClass("checked");

            // This is to keep track of selected items. It feels clunky,
            // so I'm leaving it out for now.
            // -----
            // par_selected = 'p[id="selected-' + $(this).attr('name') + 'Cat"]';
            // count = parseInt($(par_selected).attr('count'));
            // if ( $(this).hasClass("checked") ) {
            //     count += 1;
            // } else {
            //     count -= 1;
            // }
            // $(par_selected).attr("count", count);
            // $(par_selected).text(count + ' selected');
            // if ( count > 0 ) {
            //     $(par_selected).show();
            // } else {
            //     $(par_selected).hide();
            // }
            // <p style="font-style: italic; margin-bottom: 0px; opacity: 0.5; display: none;" id="selected-{{ cat }}Cat" count="0">0 selected</p>

            let numChecked = 0;
            $("input[class*='btn-check']").each(function() {
                // Not sure why the contains (*) selector is needed here.
                if ($(this).hasClass("checked")) {
                    numChecked += 1;
                }
            });
            
            if (numChecked === 0) {
                $(".btn[type='submit']").attr("disabled", true);
            } else {
                $(".btn[type='submit']").attr("disabled", false);
            }
        });
        // Toggle categories
        $("legend[class='big-legend']").on("click", function (e) {
            let cat = $(this).attr('id');
            $("div[id='form-" + cat + "']").toggle();
        });
    });
</script>
<form action="{{ url_for('record_food_items', dh=dh, meal=meal) }}" style="width: 100%;" method="POST">
    {% for cat in food_items.keys() %}
        <div class="flex-row rate-form shadow">
            <legend id="{{ cat }}Cat" style="margin-bottom: 0px;" class="big-legend" for="{{ cat }}Cat">&nbsp;&nbsp;{{ cat }} &#9662;</legend>
            <div id="form-{{ cat }}Cat" class="form-padding" style="padding-top: 25px; display: none;">
                {% for food_item in food_items[cat] %}
                <div class="form-check-inline">
                    <!-- name = dict key, value = dict value -->
                    <input class="btn-check" type="checkbox" value="{{ food_item }}" id="{{ cat }}-{{ food_item }}" name="{{ cat }}">
                    <label id="label-{{ cat }}-{{ food_item }}" class="btn btn-lg btn-rounded btn-outline-secondary" style="margin-bottom: 10px;" for="{{ cat }}-{{ food_item }}">{{ food_item }}</label>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col">
            <a type="back" class="btn btn-form btn-block btn-outline-secondary btn-rounded btn-lg" href="{{ url_for('meal', dh=dh, meal=meal) }}">&larr; Back</a>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-form btn-block btn-secondary btn-rounded btn-lg" disabled="disabled">Next &rarr;</button>
        </div>
    </div>
</form>
{% endblock %}