{% extends "base.html" %}
{% set active_page = "About" %}

{% block content %}
    <div class="d-flex flex-column align-items-center">
        <p>
            Project Valjean is an experimental app designed for rating the food at Notre Dame
            and understanding what foods are liked and disliked. Have any questions or comments?
            Feel free to contact us at <b>projvaljean@gmail.com</b>. Want to see the code?
            Check out our <a href="https://github.com/mcookly/project-valjean">repo</a>. 
        </p>
    </div>
{% endblock %}